    body, html{
    background-color: #FFDEB1;
    height: 100px;
    font-size: 20px;
    font-family: san-serif;
    }
    .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    }
    .top-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/selfie-1.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh;
    margin: 5px;
    }
    .top-text {
    text-align: left;
  position: absolute;
  top: 60%;
  left: 24%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: medium;
    }
 .create_btn{
     position: fixed;
     bottom: 30px;
     right 30px;
     z-index: 9;
 }
 .create_btn{
     height: 39px;
     width:37px;
     text-align: center;
     background: black;
     display: block;
     border-radius: 3px;
     cursor: pointer;
 }
 .create_btn a span{
     color: #f2f2f2;
     line-height: 39px;
     font-size: 25px;
 }
.topnav {
  overflow: hidden;
  background-color: #D1D1D1;
  padding: 10px;
  padding-top: 10px;
  margin-right: -20px;
  margin-left: -20px;
}
.active {
padding: 40px;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

    .gallery {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    color:  #56202D;
    padding: 20px;
    background-color: #FFE4C0;
    margin-top: 10px;
    margin-left: -40px;
    margin-right: -40px;
    }
    #center {
    text-align: center;
    }
    .middle-text {
       background-color: white;
    }
    .image-selfie-2 {
    height: 28vh;
    flex-grow: 1;
    object-fit: cover;
    vertical-align: bottom;
    grid-row: 2/3;
    grid-column: 3/4;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .image-selfie-3 {
    height: 28vh;
    flex-grow: 1;
    object-fit: cover;
    vertical-align: bottom;
    grid-row: 2/3;
    grid-column: 1/2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .image-selfie-4 {
    height: 28vh;
    flex-grow: 1;
    object-fit: cover;
    vertical-align: bottom;
    grid-row: 1/2;
    grid-column: 3/4;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .image-selfie-5 {
    height: 28vh;
    flex-grow: 1;
    object-fit: cover;
    vertical-align: bottom;
    grid-row: 1/2;
    grid-column: 5/6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .image-selfie-6 {
    height: 28vh;
    flex-grow: 1;
    object-fit: cover;
    vertical-align: bottom;
    grid-row: 1/2;
    grid-column: 1/2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    align-self: center;
    }
    .image-selfie-7 {
    height: 28vh;
    flex-grow: 1;
    object-fit: cover;
    vertical-align: bottom;
    grid-row: 2/3;
    grid-column: 5/6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .selfie-2-text {
    align-self: center;
    font: 1.2rem/1.4 Georgia, serif;
    grid-row: 4/5;
    grid-column: 2/3;
    justify-items: center;
    padding: 15px;
     }
    .selfie-3-text {
    align-self: center;
    font: 1.2rem/1.4 Georgia, serif;
    grid-row: 4/5;
    grid-column: 1/2;
    justify-items: center;
    padding: 15px;
    }
    .selfie-4-text {
     align-self: center;
     font: 1.2rem/1.4 Georgia, serif;
     grid-row: 2/3;
     grid-column: 2/3 ;
     justify-items: center;
     margin-top: -40px;
     padding: 15px;
    }
    blockquote {
      margin: 1em;
    }
    figcaption {
    align-self: center;
    margin: 1em;
    }
    .selfie-5-text {
    align-self: center;
    font: 1.2rem/1.4 Georgia, serif;
     grid-row: 2/3;
     grid-column: 3/4;
     justify-items: center;
     padding: 15px;
    }
    .selfie-6-text {
    align-self: center;
    font: 1.2rem/1.4 Georgia, serif;
    grid-row: 2/3;
    grid-column: 1/2;
    justify-items: center;
    padding: 15px;
    }
    .selfie-7-text {
    align-self: center;
    font: 1.2rem/1.4 Georgia, serif;
    grid-row: 4/5;
    grid-column: 3/4;
    justify-items: center;
    padding: 15px;
    }
    .text-before-socials {
   color: #D5603F;
   font-size: larger;
    }
    .insta-gallery {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5px;
    }
    .insta {
    height: 40vh;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
.twitter-gallery {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }
    .twitter {
    height: 30vh;
    width: 38vh;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .type-text {
    color: #404040;
    text-align: center;
    }
    footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #56202D;
    color: #ffffff;
    list-style-type: none;
    text-align: center;
    margin-left: -40px;
    margin-right: -40px;
    }
    @media only screen and (max-width: 961px) {
    header {display: flex;
    flex-direction: column;
    }
    main { display: flex;
      flex-direction: column;
    }
    }