body, html{
    background-color: rgb(192, 184, 184);
    height: 100px;
    font-family: san-serif;
    font-size: 20px;
    }
    .wrapper {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    width: 100%;
    }
    .top-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/snow-forest-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;
    }
    .top-text {
    color: white;
    font-family: san-serif;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    }
    #topper{
    height:84px;
    }
    nav{
    flex: 1;
    text-align: center;
    background: #eee;
    flex-flow: row;
    display: flex;
    height: 3em;
    width: 100%;
    float:none;
    clear: both;
    position: fixed;
    overflow: hidden;
    border-bottom-style: dotted;
    }
    nav ul{
        display: inline-block;
        list-style-type: none;
        text-align: center;
        justify-content: center;
        width: 100%;
        #F0ECE9;
    }
    nav ul li{
        display: inline-block;
        margin-right: 20px;
        text-align: center;
        font-weight: bold;
        justify-content: center;
        float: none;
        color: #444;
    }
    nav a {
    color: #031136;
    padding: .5em 3em;
    text-decoration: none;
        justify-content: center;
        text-align: center;
        position: relative;
          z-index: 2;
          text-decoration: none;
          color: #444;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
    }
    nav a:hover {
    border-bottom: 0px; color: #F0ECE9;}
    nav   ul li:first-child a{ border:none; }
    nav   ul li:nth-child(2) a{ border-left: 10px solid #3895FF; }
    nav   ul li:nth-child(3) a{ border-left: 10px solid #3358FF; }
    nav   ul li:nth-child(4) a{ border-left: 10px solid #0D00FF; }
    nav   ul li:nth-child(5) a{ border-left: 10px solid #3400AD; }
    nav   ul li:nth-child(6) a{ border-left: 10px solid #4400B3; }
    nav   ul li:nth-child(7) a{ border-left: 10px solid #5600B8; }
    nav   ul li:nth-child(7) a{ border-left: 10px solid #740063; }
    nav   ul li:last-child a{ border-left: 10px solid #822FAF; }
    }
    nav a : after {
      content: "";
      height: 100%;
      left: 0;
      top: 0;
      width: 0px;
      position: absolute;
      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      z-index: -1;
    }
    nav a:hover:after{ width: 100%; }
    nav   ul li:first-child a{ border:none; }
    nav   ul li:nth-child(2) a{ border-left: 10px solid #3895FF; }
    nav   ul li:nth-child(3) a{ border-left: 10px solid #3358FF; }
    nav   ul li:nth-child(4) a{ border-left: 10px solid #0D00FF; }
    nav   ul li:nth-child(5) a{ border-left: 10px solid #3400AD; }
    nav   ul li:nth-child(6) a{ border-left: 10px solid #4400B3; }
    nav   ul li:nth-child(7) a{ border-left: 10px solid #5600B8; }
    nav   ul li:nth-child(7) a{ border-left: 10px solid #740063; }
    nav   ul li:last-child a{ border-left: 10px solid #822FAF; }

    .image-main {
    height: 80vh;
    width: 100%;
    }
    .gallery {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 9px;
    }
    #center {
    text-align: center;
    }
    .text {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    }
    .image-basecamp {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-grow: 1;
    height: 23vh;
    object-fit: cover;
    vertical-align: bottom;
    }
    .image-hut2hut {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-grow: 1;
    height: 23vh;
    object-fit: cover;
    vertical-align: bottom;
    }
    .image-dayhike {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-grow: 1;
    height: 23vh;
    object-fit: cover;
    vertical-align: bottom;
    }
    .image-backpack {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 23vh;
    flex-grow: 1;
    object-fit: cover;
    vertical-align: bottom;
    }
    .image-llama {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-grow: 1;
    height: 23vh;
    object-fit: cover;
    vertical-align: bottom;
    }
    .Trekking-what {
    background-color: #ACA5A5;
    color: #332C23;
    font-family: san-serif;
    margin: -6px;
    padding-bottom: 8px;
    padding-top: 1px;
    }
    .tw-text {
    color: #332C23;
    font-family: san-serif;
    list-style: none;
    text-align: center;
    }
    .Trekking-type {
    background-color: #999393;
    font-family: san-serif;
    margin: -10px;
    margin-bottom: 1px;
    padding: 10px;
    padding-top: 6px;
    }
    .Trek-styles-grid {
    align-items: center;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0;
    padding: 10px;
    }
    .basecamp-style-text {
    color: #332C23;
    grid-column: 1/2;
    grid-row:   2/3;
    padding: 10px;
    text-align: center;
    }
    .image-basecamp-style {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-grow: 1;
    grid-column: 1/2;
    grid-row:   1/2;
    height: 25vh;
    object-fit: cover;
    vertical-align: bottom;
    }
    .hut2hut-style-text {
    color: #332C23;
    grid-column: 2/3;
    grid-row:   2/3;
    justify-items: center;
    padding: 15px;
    text-align: center;
    }
    .image-hut2hut-style {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 25vh;
    text-align: center;
    }
    .dayhike-style-text {
    color: #332C23;
    grid-column: 3/4;
    grid-row: 2/3;
    margin: -20px;
    justify-items: center;
    padding: 15px;
    text-align: center;
    }
    .image-dayhike-style {
    grid-column: 3/4;
    grid-row: 1/2;
    height: 25vh;
    text-align: center;
    }
    .backpacker-style-text {
    color: #332C23;
    grid-column: 1/2;
    grid-row: 4/5;
    justify-items: center;
    padding: 15px;
    text-align: center;
    }
    .image-backpacker-style {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 25vh;
    text-align: center;
    }
    .llama-style-text {
    color: #332C23;
    grid-column: 3/4;
    grid-row: 4/5;
    justify-items: center;
    padding: 15px;
    text-align: center;
    }
    .image-llama-style {
    grid-column: 3/4;
    grid-row: 3/4;
    height: 25vh;
    text-align: center;
    }
    @media only screen and (max-width: 961px) {
    header {
    display: flex;
    flex-direction: column;
    }
    main {
    display: flex;
    flex-direction: column;
    }
    }
    footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #56202D;
    color: #ffffff;
    list-style-type: none;
    text-align: center;
    }
