body, html{
    background-color: rgb(192, 184, 184);
    height: 100px;
    font-family: san-serif;
    font-size: 20px;
    }
    .wrapper {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    width: 100%;
    }
    .top-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/snow-forest-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;
    }
    .top-text {
    color: white;
    font-family: san-serif;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    }
    #topper{
    height:84px;
    }
    .table {
    display:table;
    margin:0 auto;
    }   
    ul#horizontal-list{
    list-style: none;
    padding-top: 10px;
    }
    ul#horizontal-list li{
    display: inline;
    padding: 10px 40px;
    }
    .image-main {
    height: 80vh;
    width: 100%;
    }
    .gallery {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 9px;
    }
    #center {
    text-align: center;
    }
    .text {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    }
    .image-basecamp {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-grow: 1;
    height: 23vh;
    object-fit: cover;
    vertical-align: bottom;
    }
    .image-hut2hut {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-grow: 1;
    height: 23vh;
    object-fit: cover;
    vertical-align: bottom;
    }
    .image-dayhike {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-grow: 1;
    height: 23vh;
    object-fit: cover;
    vertical-align: bottom;
    }
    .image-backpack {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 23vh;
    flex-grow: 1;
    object-fit: cover;
    vertical-align: bottom;
    }
    .image-llama {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-grow: 1;
    height: 23vh;
    object-fit: cover;
    vertical-align: bottom;
    }
    .Trekking-what {
    background-color: #ACA5A5;
    color: #332C23;
    font-family: san-serif;
    margin: -6px;
    padding-bottom: 8px;
    padding-top: 1px;
    }
    .tw-text {
    color: #332C23;
    font-family: san-serif;
    list-style: none;
    text-align: center;
    }
    .Trekking-type {
    background-color: #999393;
    font-family: san-serif;
    margin: -10px;
    margin-bottom: 1px;
    padding: 10px;
    padding-top: 6px;
    }
    .Trek-styles-grid {
    align-items: center;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0;
    padding: 10px;
    }
    .basecamp-style-text {
    color: #332C23;
    grid-column: 1/2;
    grid-row:   2/3;
    padding: 10px;
    text-align: center;
    }
    .image-basecamp-style {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-grow: 1;
    grid-column: 1/2;
    grid-row:   1/2;
    height: 25vh;
    object-fit: cover;
    vertical-align: bottom;
    }
    .hut2hut-style-text {
    color: #332C23;
    grid-column: 2/3;
    grid-row:   2/3;
    justify-items: center;
    padding: 15px;
    text-align: center;
    }
    .image-hut2hut-style {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 25vh;
    text-align: center;
    }
    .dayhike-style-text {
    color: #332C23;
    grid-column: 3/4;
    grid-row: 2/3;
    margin: -20px;
    justify-items: center;
    padding: 15px;
    text-align: center;
    }
    .image-dayhike-style {
    grid-column: 3/4;
    grid-row: 1/2;
    height: 25vh;
    text-align: center;
    }
    .backpacker-style-text {
    color: #332C23;
    grid-column: 1/2;
    grid-row: 4/5;
    justify-items: center;
    padding: 15px;
    text-align: center;
    }
    .image-backpacker-style {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 25vh;
    text-align: center;
    }
    .llama-style-text {
    color: #332C23;
    grid-column: 3/4;
    grid-row: 4/5;
    justify-items: center;
    padding: 15px;
    text-align: center;
    }
    .image-llama-style {
    grid-column: 3/4;
    grid-row: 3/4;
    height: 25vh;
    text-align: center;
    }
    @media only screen and (max-width: 961px) {
    header {
    display: flex;
    flex-direction: column;
    }
    main {
    display: flex;
    flex-direction: column;
    }
    }
    footer {
    color: #767E0F;
    margin: 0;
    padding: 2rem;
    text-align: center;
    }
